<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>ASP.NET Web API</h1>
                <h2>Modificare il codice in questo modello per iniziare lo sviluppo con ASP.NET Web API.</h2>
            </hgroup>
            <p>
                ASP.NET Web API consente di esporre applicazioni, dati e servizi sul
                Web direttamente tramite HTTP.
            </p>
            <p>
                Per ulteriori informazioni su ASP.NET Web API, visitare
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">http://asp.net/web-api</a>.
                Nella pagina sono disponibili <mark>video, esercitazioni ed esempi</mark> utili per sfruttare al meglio le potenzialità di ASP.NET Web API.
                Per eventuali domande su ASP.NET Web API, visitare i
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">forum</a> specifici.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Si consigliano i seguenti passaggi:</h3>
        <ol class="round">
            <li class="one">
                <h5>Introduzione</h5>
                ASP.NET Web API è un framework che consente di creare servizi HTTP in grado di raggiungere
                un'ampia gamma di client, inclusi browser e dispositivi mobili. ASP.NET Web API
                è la piattaforma ideale per la creazione di applicazioni RESTful in .NET Framework.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">Ulteriori informazioni…</a>
            </li>

            <li class="two">
                <h5>Aggiungi pacchetti NuGet e avvia la codifica</h5>
                NuGet semplifica l'installazione e l'aggiornamento delle librerie e degli strumenti gratuiti.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">Ulteriori informazioni…</a>
            </li>
            <li class="three">
                <h5>Trova hosting Web</h5>
                È possibile trovare con facilità una società di hosting Web in grado di offrire funzionalità
                e prezzi adeguati per le proprie applicazioni.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">Ulteriori informazioni…</a>
            </li>
        </ol>
    </section>
</div>
